.container-basket {
  display: flex;
  flex-direction: column;
  width: 50%;
  padding: 15px;
  button {
    padding: 5px;
    color: crimson;
    background-color: #fff;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    transition: 0.4s;
    font-size: 14px;
    font-weight: 400;
    &:hover {
      color: #fff;
      background-color: crimson;
      transition: 0.7s;
    }
  }
  .container-book {
    color: azure;
    width: 100%;
    display: flex;
    align-items: center;
    .block-w-image {
      width: 100px;
      .image {
        width: 100px;
        height: 115px;
      }
    }
    .block-w-info {
      width: 100%;
    }
  }
}