@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600;700&display=swap');

* {
  box-sizing: border-box;
  font-family: 'Raleway', sans-serif;
  margin: 0 auto;
}
body {
  height: 100%;
  background: linear-gradient(to right, #191919 0%, #191919 35%, #6c0e1f 70%, crimson 100%);
}

#root {
  min-height: 100%;
}

.header {
  width: 100%;
  height: 65px;
  .header-container {
    margin: 15px 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    .header-container__logo {
      margin-right: 10px;
      display: flex;
      align-items: center;
      .logo {
        width: 80px;
        height: 80px;
      }
    }
    .header-container__user-menu {
      margin: 0 15px;
      width: 12%;
      display: flex;
      align-items: center;
      font-size: 18px;
      color: #fff;
      .user-menu__signIn, .user-menu__signUp {
        background: none;
        border: none;
        color: #fff;
        font-size: 18px;
        cursor: pointer;
      }
      .user-menu__icon-logout {
        fill: #fff;
        width: 25px;
        height: 25px;
        cursor: pointer;
      }
    }
    .header-container__personal-cart {
      display: flex;
      fill: #fff;
      width: 30px;
      height: 30px;
      cursor: pointer;
    }
    
  }
}
